.detailWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.authorProfile {
  position: absolute;
  left: 2rem;
  bottom: -20rem;
  width: 15rem;
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.authorProfile a {
  display: block;
  color: var(--secondary);
  font-weight: 400;
  padding: 2px 0;
}

.authorInfo img {
  border-radius: 100px;
}

.authorBody {
  display: flex;
  flex-direction: column;
}




.authorBody h5 {
  margin: 0;
  font-size: 18px;
  transition: 0.2s all;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorBody h5:hover {
  color: var(--primary);
}



.authorBody span {
  color: var(--secondary);
}

.commentUser {
  border: 1px solid var(--secondary);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.comments h4 {
  font-size: 18px;
  margin: 10px 0;
}

.post {
  margin: 10px;
}